version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    labels:
      - dependabot
      - actions
    schedule:
      interval: weekly
    cooldown:
      default-days: 7

  - package-ecosystem: gomod
    directory: /
    labels:
      - dependabot
      - go
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
